<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/common::head">
</head>
<body>
<div th:replace="fragments/common :: bodyHeader(session)">
</div>
<div class="d-flex align-items-center w-100">

   <div th:replace="fragments/Banner :: leftBanner"></div>


   <div class="container" style="background-color: #5c636a">
      <div class="jumbotron">
      <h1><p class="text-white">전자제품을 리뷰하다.</p></h1>
         <img src = /junhadaLogo/logo.png class="img-fluid"><br>
         <br><br><br><br><br>
         <h3>전하다에서 실사용 후기를 보고 <br>
         효율적인 구매를 하세요!</h3>
         <img src="/junhadaLogo/productHorizonBanner.png" class="img-fluid">
         <br>
      </div>
   </div>
   <div th:replace="fragments/Banner :: rightBanner"></div>
</div>

<div th:replace="fragments/common::footer"></div>
</body>
</html>